<html>
<head>
    <title>Sistema de Bicicletário</title>
</head>
<body>
    <h1>Emprestar Bicicleta</h1>
    <form action="/api/emprestimos/emprestar" method="POST">
        <label>Usuário ID:</label><input type="number" name="usuarioId" required><br>
        <label>Bicicleta ID:</label><input type="number" name="bicicletaId" required><br>
        <button type="submit">Emprestar</button>
    </form>

    <h1>Devolver Bicicleta</h1>
    <form action="/api/emprestimos/devolver" method="POST">
        <label>Empréstimo ID:</label><input type="number" name="emprestimoId" required><br>
        <button type="submit">Devolver</button>
    </form>

    <h1>Listar todo o Banco</h1>
    <form action="/api/emprestimos/listar" method="GET">
        <button type="submit">Listar</button>
    </form>
</body>